.doctor-dashboard{
    /* background: var(--bg); */
    
}
.doctor-nav{
    padding: .3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--bg);
    background: linear-gradient(to right, var(--blue), var(--pink));
}
.doctor-nav .logo{
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
}
.doctor-nav img{
    width: 75px;
}
.doctor-profile{
    margin-right: .7em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: .4em; */
    /* background: red; */
    width: 220px;
    color: white;
}
.doctor-profile .img-container{
    background: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.doctor-profile img{
    /* width: 60px; */
    object-fit: cover;
    scale: .6;
}
.main-section{
    /* background: red; */
    /* background: var(--bg); */
    width: 75%;
    border-radius: 10px;
    padding: .4em;
    margin: 0em .5em;
    min-height: 83vh;
    /* box-shadow: 1px 1px 15px rgb(213, 213, 213); */

    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
}

.main-section .right, .main-section .left{
    display: flex;
    flex-direction:column ;
    align-items: center;
    /* justify-content: space-between; */
}

.actual-section{
    display: flex;
    /* flex-wrap: wrap; */
}









































/* search */
.search-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background: white ;
    min-width: 300px;
    border-radius: 40px;
  }
  
  .search-input {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
  }
  
  