.maternalprofile {
  width: 600px;
  border: 1.5px solid #dbf0f0;
  border-radius: 10px;
  margin: 0.3em;
  min-height: 160px;
  max-height: 160px;
  padding: 0.5em;
 
}
.maternalprofile .title{
    font-size: 1em;
    font-weight: 600;
}
.maternalprofile .all-items{
    display: flex;
    flex-wrap: wrap;
}

.maternalprofile .item {
  /* border: 1px solid red; */
  width: 30%;
  max-height: 50px;
  margin: .8em .3em;
}
.maternalprofile .item-title {
    /* border: 1px solid red; */
  font-weight: 600;
  color: #a0a0a0;
  font-size: .8em;
  }
  .maternalprofile .item-value {
    /* border: 1px solid red; */
  font-weight: 600;
  font-size: 1em;
  
  }
